.flexrow {
	display: flex;
	flex-direction: row;
}

.flexcol {
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
}

#root {
	height: 100%;
}

.app {
	height: 100%;
}

.sidebar {
	outline: 1px solid #eeeeee;
	width: 200px;
	height: 100%;
	flex: none;
}

.sidebar .listItem {
	padding: 0px 3px;
	font-size: 18px;
	font-family: "serif";
}

.sidebar .listItem.selected {
	background-color: powderblue;
}

.sidebar .listItem:hover {
	background-color: lightgray;
}

.sidebar .listItem .details {
	font-size: 12px;
	font-family: "sans-serif";
	margin-left: 5px;
}

.sidebar .divider {
	background-color: lightgray;
	margin: 5px 0px;
	height: 1px;
}

.generateScreen {
	flex: 1;
	background-color: cornsilk;
	padding: 5px;
	align-items: flex-start;
}

.generateScreen .group {
	flex: 1;
	background-color: white;
	outline: 1px solid black;
	padding: 3px;
	margin: 5px;
	text-align: center;
}

.generateScreen .group .button {
	background-color: white;
	outline: 1px solid black;
	margin: 3px;
	height: 20px;
}

.generateScreen .group .button:hover {
	background-color: lightgray;
}

.characterScreen {
	flex: 1;
	background-color: cornsilk;
}

.characterScreen .block {
	background-color: white;
	border: 2px solid black;
	margin: 10px;
}

.characterScreen .block .header {
	flex: 1;
	background-color: black;
	color: white;
	font-size: 20pt;
	font-family: serif;
	text-align: center;
}

.characterScreen .block .cell {
	flex: 1;
	outline: 1px solid black;
	margin: 1px;
	padding: 2px;
}

.characterScreen .block .cell .subcell {
	flex: 1;
}

.characterScreen .block .centered {
	text-align: center;
}

.characterScreen .block .cell .title {
	font-size: 10pt;
	font-family: sans-serif;
	margin-right: 4px;
}

.characterScreen .block .cell .content {
	font-size: 14pt;
	font-family: serif;
	margin-top: 5px;
}