.flexrow {
	display: flex;
	flex-direction: row;
}

.flexcol {
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
}

#root {
	height: 100%;
}

.app {
	height: 100%;
}

.sidebar {
	outline: 1px solid lightgray;
	width: 300px;
	height: 100%;
	flex: none;
	overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar .listItem {
	padding: 0px 3px;
	font-size: 18px;
	font-family: "serif";
}

.sidebar .listItem.selected {
	background-color: powderblue;
}

.sidebar .listItem:hover {
	background-color: lightgray;
}

.sidebar .listItem .details {
	font-size: 12px;
	font-family: "sans-serif";
	margin-left: 5px;
}

.sidebar .divider {
	background-color: lightgray;
	margin: 5px 0px;
	height: 1px;
}

.generateScreen {
	flex: 1;
	background-color: cornsilk;
	padding: 5px;
	align-items: flex-start;
}

.generateScreen .group {
	flex: 1;
	background-color: white;
	outline: 1px solid black;
	padding: 3px;
	margin: 5px;
	text-align: center;
}

.generateScreen .group .button {
	background-color: white;
	outline: 1px solid black;
	margin: 3px;
	height: 20px;
	user-select: none;
}

.generateScreen .group .button:hover {
	background-color: lightgray;
}

.characterScreen {
	flex: 1;
}

.characterScreen .character {
	flex: 1;
	background-color: cornsilk;
	overflow-y: scroll;
}

.characterScreen .character > .flexrow > .block {
	flex: 1;
}

.characterScreen .character::-webkit-scrollbar {
	display: none;
}

.characterScreen .character .block {
	background-color: white;
	border: 2px solid black;
	margin: 10px;
	user-select: none;
}

.characterScreen .character .block .header {
	background-color: black;
	color: white;
	font-size: 20pt;
	font-family: serif;
	text-align: center;
}

.characterScreen .character .block .cell {
	flex: 1;
	outline: 1px solid black;
	margin: 1px;
	padding: 2px;
}

.characterScreen .character .block .cell .subcell {
	flex: 1;
}

.characterScreen .character .block .centered {
	text-align: center;
}

.characterScreen .character .block .cell .title {
	font-size: 10pt;
	font-family: sans-serif;
	margin-right: 4px;
}

.characterScreen .character .block .cell .content {
	font-size: 14pt;
	font-family: serif;
	margin-top: 5px;
}

.characterScreen .character .block .cell .stat {
	font-size: 10pt;
	font-family: sans-serif;
	margin-left: 5px;
	color: dimgray;
}

.characterScreen .history {
	outline: 1px solid lightgray;
	width: 300px;
	height: 100%;
	flex: none;
}

.characterScreen .history .header {
	background-color: black;
	color: white;
	font-size: 20pt;
	font-family: serif;
	text-align: center;
}

.characterScreen .history .historySection {
	flex: 1;
	overflow-y: scroll;
}

.characterScreen .history .historySection::-webkit-scrollbar {
	display: none;
}

.characterScreen .history .advancesSection {
	height: 300px;
}

.characterScreen .history .scrollPage {
	overflow-y: scroll;
}

.characterScreen .history .scrollPage::-webkit-scrollbar {
	display: none;
}

.characterScreen .history .event {
	margin: 4px;
	padding: 3px;
	background-color: cornsilk;
	outline: 1px solid lightgray;
}

.characterScreen .history .event .title {
	border-bottom: 1px solid lightgray;
}

.characterScreen .history .event .title .titleText {
	flex: 1;
}

.characterScreen .history .event .title .remove {
	width: 10px;
	height: 10px;
	float: right;
	border: 2px solid white;
	border-radius: 100%;
	background: -webkit-linear-gradient(
			-45deg,
			transparent 0%,
			transparent 46%,
			black 46%,
			black 56%,
			transparent 54%,
			transparent 100%
		),
		-webkit-linear-gradient(45deg, white 0%, white 46%, black 46%, black 56%, white
					56%, white 100%);
	box-shadow: 0px 0px 5px black;
}

.characterScreen .history .event .title .remove:hover {
	border-color: red;
	background: -webkit-linear-gradient(
			-45deg,
			transparent 0%,
			transparent 46%,
			white 46%,
			white 56%,
			transparent 54%,
			transparent 100%
		),
		-webkit-linear-gradient(45deg, red 0%, red 46%, white 46%, white 56%, red
					56%, red 100%);
}

.characterScreen .history .event .shallyasMercy {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.characterScreen .history .event .stat {
	flex: 2;
}
.characterScreen .history .event .old {
	flex: 1;
}
.characterScreen .history .event .arrow {
	flex: 1;
}
.characterScreen .history .event .new {
	flex: 1;
}

.characterScreen .history .subheader {
	padding: 3px;
	user-select: none;
	border-bottom: 1px solid black;
	background-color: lightgray;
}

.characterScreen .history .subheader:hover {
	background-color: powderblue;
}

.characterScreen .history .button {
	margin: 4px;
	padding: 3px;
	background-color: lightgray;
	outline: 1px solid gray;
	user-select: none;
}

.characterScreen .history .button:hover {
	background-color: powderblue;
}

.characterScreen .history .backButton {
	color: gray;
	user-select: none;
	margin-right: 4px;
}
